params {
  annotation = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gtf'
  genome = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa.gz'
  reads = 'https://raw.githubusercontent.com/FAANG/proj-gs-rna-seq/master/test/reads.txt'
  metadata = 'https://raw.githubusercontent.com/FAANG/proj-gs-rna-seq/master/test/metadata.tsv'
}

params.'max-cpus' = 4
params.'max-memory' = 4.G
params.'skip-feelnc' = true
params.'assemble-by' = 'group'
params.'quantify-by' = 'group,replicate'
