includeConfig 'conf/outputs.config'
includeConfig 'conf/resources.config'

profiles {
  slurm {
    process.executor = 'slurm'
  }

  kubernetes {
    process.executor = 'k8s'
  }

  docker {
    docker.enabled = true
    process.container = 'registry.gitlab.com/geneswitch/tagada:2.1.1'
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.pullTimeout = 2.h
    process.container = 'registry.gitlab.com/geneswitch/tagada:2.1.1'
  }

  test {
    includeConfig 'conf/test.config'
  }
}
