params.annotation = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gtf'
params.genome = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa.gz'
params.reads = 'https://raw.githubusercontent.com/FAANG/analysis-TAGADA/master/assets/test/reads.txt'
params.metadata = 'https://raw.githubusercontent.com/FAANG/analysis-TAGADA/master/assets/test/metadata.tsv'
params.'max-cpus' = 4
params.'max-memory' = 4.GB
params.'skip-feelnc' = true
params.'assemble-by' = 'group'
params.'quantify-by' = 'group,replicate'
