params.annotation = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genes.gtf'
params.genome = 'https://github.com/nf-core/test-datasets/raw/rnaseq/reference/genome.fa.gz'
params.reads = 'https://raw.githubusercontent.com/FAANG/analysis-TAGADA/master/assets/test/reads.txt'
params.metadata = 'https://raw.githubusercontent.com/FAANG/analysis-TAGADA/master/assets/test/metadata.tsv'
params.'max_cpus' = 4
params.'max_memory' = 4.GB
params.'skip_lnc_detection' = true
params.'assemble_by' = 'group'
params.'quantify_by' = 'group,replicate'
